# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Dependency directories (remove the comment if you use vendoring)
# /vendor/

# Go module files
go.sum

# Temporary files
*.tmp
*.log

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables file
.env

# Coverage reports
coverage.out

tempCodeRunnerFile.go